{% extends 'base.html.twig' %}

{% block title %}Tableau Alphabet{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper table, td { border: 1px solid #333; }
</style>

<div class="example-wrapper">
    <h1>Alphabet</h1>
    <table>
        {% set i = 0 %}
        {% for letter in alphabet %}
            {% if i == 0 %}
                <tr>
            {% endif %}
            
            {% set i = i + 1 %}

                <td>{{ letter }}</td>
            {% if i == 10 %}
                </tr>
                {% set i = 0 %}
            {% endif %}

        {% endfor %}
    </table>
</div>
{% endblock %}
